USE [master]
GO
/****** Object:  Database [BDDistribuidora]    Script Date: 10/2/2018 11:25:53 PM ******/
CREATE DATABASE [BDDistribuidora]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDDistribuidora', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDDistribuidora.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDDistribuidora_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BDDistribuidora_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDDistribuidora].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDDistribuidora]
GO
USE [BDDistribuidora]
GO
/****** Object:  Table [dbo].[DEmpleado]    Script Date: 10/2/2018 11:25:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEmpleado](
	[Nombre] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Contrasenia] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DFabricacion]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFabricacion](
	[Descripcion] [varchar](100) NULL,
	[Tiempo] [float] NULL,
	[Email] [varchar](50) NOT NULL,
	[Codigo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC,
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DFabricado]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DFabricado](
	[Codigo] [int] NOT NULL,
	[Tiempo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DImportado]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DImportado](
	[Codigo] [int] NOT NULL,
	[PaisOrigen] [varchar](30) NULL,
	[CantMinima] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DProducto]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DProducto](
	[Codigo] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Costo] [float] NOT NULL,
	[PrecioSugerido] [float] NOT NULL,
	[EmpleadoAlta] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DFabricacion]  WITH CHECK ADD FOREIGN KEY([Codigo])
REFERENCES [dbo].[DProducto] ([Codigo])
GO
ALTER TABLE [dbo].[DFabricacion]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[DEmpleado] ([Email])
GO
ALTER TABLE [dbo].[DFabricado]  WITH CHECK ADD FOREIGN KEY([Codigo])
REFERENCES [dbo].[DProducto] ([Codigo])
GO
ALTER TABLE [dbo].[DImportado]  WITH CHECK ADD FOREIGN KEY([Codigo])
REFERENCES [dbo].[DProducto] ([Codigo])
GO
ALTER TABLE [dbo].[DProducto]  WITH CHECK ADD FOREIGN KEY([EmpleadoAlta])
REFERENCES [dbo].[DEmpleado] ([Email])
GO
/****** Object:  StoredProcedure [dbo].[ALTAFABRICACION]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTAFABRICACION]
	@Descripcion	VARCHAR(100),
	@Tiempo			FLOAT,
	@Email			VARCHAR(50),
	@Codigo			INT
AS 
BEGIN
INSERT INTO DFabricacion (Descripcion, Tiempo, Email, Codigo) VALUES (@Descripcion,@Tiempo,@Email,@Codigo)
END
GO
/****** Object:  StoredProcedure [dbo].[ALTAFABRICADO]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTAFABRICADO]
	@Codigo			INT ,
	@Nombre			VARCHAR(50) ,
	@Descripcion		VARCHAR(100),
	@Costo				FLOAT ,
	@preciosug			FLOAT ,
	@Tiempo			FLOAT
 AS
 BEGIN
	 INSERT INTO DProducto (codigo,nombre,descripcion,costo,PrecioSugerido)  VALUES (@codigo,@nombre,@descripcion,@costo,@preciosug)
	 INSERT INTO DFabricado (Codigo, Tiempo) VALUES (@Codigo, @Tiempo)
 END
GO
/****** Object:  StoredProcedure [dbo].[ALTAIMPORTADO]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ALTAIMPORTADO]
	@Codigo			INT ,
	@Nombre			VARCHAR(50) ,
	@Descripcion		VARCHAR(100),
	@Costo				FLOAT ,
	@preciosug			FLOAT ,
	@paisOri			VARCHAR(30),
	@cantMin			INT
 AS
 BEGIN
	 INSERT INTO DProducto (codigo,nombre,descripcion,costo,PrecioSugerido)  VALUES (@codigo,@nombre,@descripcion,@costo,@preciosug)
	 INSERT INTO DImportado (Codigo, PaisOrigen, CantMinima) VALUES (@Codigo, @paisOri, @cantMin)
 END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmpleado]    Script Date: 10/2/2018 11:25:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmpleado]
	@Codigo			INT,
	@Email			VARCHAR(50)
AS BEGIN
UPDATE DProducto SET EmpleadoAlta = @Email WHERE Codigo = @Codigo
END
GO
USE [master]
GO
