<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IListadoProdFabService" />
        <binding name="BasicHttpBinding_IEmpleadoService" />
        <binding name="BasicHttpBinding_IListadoTodosProducto" />
        <binding name="BasicHttpBinding_IAsignacionTecnico" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49054/ServicioListadoProdFab.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListadoProdFabService"
        contract="ServiceReferenceListadoProdFab.IListadoProdFabService"
        name="BasicHttpBinding_IListadoProdFabService" />
      <endpoint address="http://localhost:49054/ServicioEmpleado.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpleadoService"
        contract="WFEmpleadoReference.IEmpleadoService" name="BasicHttpBinding_IEmpleadoService" />
      <endpoint address="http://localhost:49054/ServicioListadoTodosProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListadoTodosProducto"
        contract="WSTodosProductosReference.IListadoTodosProducto" name="BasicHttpBinding_IListadoTodosProducto" />
      <endpoint address="http://localhost:49054/ServicioAsignacionTecnico.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsignacionTecnico"
        contract="WSAsignacionReference.IAsignacionTecnico" name="BasicHttpBinding_IAsignacionTecnico" />
    </client>
  </system.serviceModel>
</configuration>